/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #fff;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    background-color: #222;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #00000000;
}

ul {
    list-style: none;
}

.content {
    padding: 4.5rem 0;
    background-color: #1b1b1b;
    min-height: 100vh;
}

.active {
    color: #ffff00;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #aaa;
}

::-webkit-scrollbar-thumb {
    background: #666666;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}